playwright
qdrant-client
langgraph
langchain-openai
langchain-google-genai
google-generativeai
python-dotenv
pdfplumber
streamlit

# LlamaIndex
llama-index
llama-index-vector-stores-qdrant
llama-index-embeddings-google-genai